<div class="contents row">
  <h3><%= @name %>さんのマイページ</h3>

  <%= link_to "ユーザー情報変更", edit_user_registration_path, class: "post" %>

  <% @user.each do |user| %>

   <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">名前</label>
      </div>
      <%= user.name %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">メールアドレス</label>
      </div>
      <%= user.email %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">生年月日</label>
      </div>
      <div class='input-birth-wrap'>
        <%= user.birth_date %>
      </div>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">役職</label>
      </div>
      <%= user.position %>
    </div>

  <% end %>

  <%= month_calendar events: @schedules do |date, schedules| %>
    <%= date.day %>

    <% schedules.each do |schedule| %>
      <li>
        <%= link_to schedule.title, schedule_path(schedule.id), method: :get %>
        <div>
          (<%= link_to schedule.user.name, schedule_path(schedule.id), method: :get %>)
        </div>
      </li>
    <% end %>
  <% end %>
</div>