<% breadcrumb :users_show %>

<div class="contents row">

  <% @user.each do |user| %>
    <h5><%= user.name %>さんのマイページ</h5>
    
    <% unless user_signed_in? && current_user.id == user.id %>
      <div class="mail-link">
        <%= mail_to user.email, "#{user.name}さんへメールを送る" %>
      </div>
    <% end %>

    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">名前</th>
          <td class="detail-value"><%= user.name %></td>
        </tr>
        <tr>
          <th class="detail-item">電話番号</th>
          <td class="detail-value"><%= user.telephone_number %></td>
        </tr>
        <tr>
          <th class="detail-item">メールアドレス</th>
          <td class="detail-value"><%= user.email %></td>
        </tr>
        <tr>
          <th class="detail-item">誕生日</th>
          <td class="detail-value"><%= user.birth_date %></td>
        </tr>
        <tr>
          <th class="detail-item">所属部署</th>
          <td class="detail-value"><%= user.department %></td>
        </tr>
        <tr>
          <th class="detail-item">役職</th>
          <td class="detail-value"><%= user.position %></td>
        </tr>
      </tbody>
    </table>

    <% if user_signed_in? && current_user.id == user.id %>
      <%= link_to "ユーザー情報変更", edit_user_registration_path, class: "post" %>
    <% end %>

  <% end %>

  <%= month_calendar events: @schedules do |date, schedules| %>
    <%= date.day %>

    <% schedules.each do |schedule| %>
      <li>
        <%= link_to schedule.title, schedule_path(schedule.id), method: :get %>
        <div>
          (<%= link_to schedule.user.name, user_path(schedule.user.id), method: :get %>)
        </div>
      </li>
    <% end %>
  <% end %>

</div>