<% breadcrumb :schedules_edit %>

<div class="container">
  <div class="schedule-top">
    <div class="schedule-title">
      <h2>予定の編集</h2>
    </div>
    <div class="top-content">
        <% if user_signed_in? && current_user.id == @schedule.user_id %>
          <div class="top-link">
            <%= link_to '予定削除',schedule_path(@schedule.id), method: :delete, data: { confirm: '本当に予定を削除しますか？' }, class: "btn btn-outline-dark" %>
          </div>
        <% end %>
    </div>
  </div>
  <%= form_with model: @schedule, local: true do |form| %>
    <%= render partial: "schedule_error_messages" %>
    <form class="contents">
      <%= render partial: "schedule_form", locals: { form:form } %>
      <div class="col-12">
        <%= form.submit "変更する", class: "btn btn-primary" %>
      </div>
    </form>
  <% end %>
</div>