<% breadcrumb :schedules_edit %>

<h1>予定の編集</h1>

<%= form_with model: @schedule, local: true do |form| %>

  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= I18n.t("errors.messages.not_saved",
                  count: @schedule.errors.count,
                  resource: @schedule.class.model_name.human.downcase)
        %>
      </h2>
      <ul>
        <% @schedule.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="title">
    <%= form.label :タイトル %>
    <%= form.text_field :title %>
  </div>

  <div class="time">
    <%= form.label :開始時間 %>
    <%= form.datetime_select :start_time %>
  </div>

  <div class="time">
    <%= form.label :終了時間 %>
    <%= form.datetime_select :end_time %>
  </div>

  <div class="content">
    <%= form.label :内容 %>
    <%= form.text_field :content %>
  </div>

    <div class="h-adr" >
      <span class="p-country-name" style="display:none;">Japan</span>

      <div class="zip_code">
        <%= form.label :郵便番号 %>
        <%= form.text_field :zip_code, placeholder:"郵便番号を入力してください", class:"p-postal-code form-control" %>
      </div>

      <div class="prefecture">
          <%= form.label :都道府県 %>
          <%= form.text_field :prefecture, class:"p-region form-control" %>
      </div>

      <div class="city">
        <%= form.label :市区町村 %>
        <%= form.text_field :city, class:"p-locality form-control" %>
      </div>

      <div class="town">
        <%= form.label :域・番地 %>
        <%= form.text_field :town, class:"p-street-address form-control" %>
      </div>

      <div class="building_name">
              <%= form.label :その他住所 %>
              <%= form.text_field :building_name, class:"p-extended-address form-control" %>
      </div>
    </div>

  <div class="submit">
    <%= form.submit %>
  </div>

<% end %>

<%= link_to "戻る", :back %>