<p id="notice"><%= notice %></p>

<div class="show">
  <p>
    <strong>タイトル</strong>
    <%= @schedule.title %>
  </p>

  <p>
    <strong>内容</strong>
    <%= @schedule.content %>
  </p>

  <p>
    <strong>開始日時</strong>
    <%= @schedule.start_time %>
    <strong>終了日時</strong>
    <%= @schedule.end_time %>
  </p>

  <%= link_to '編集', edit_schedule_path(@schedule.id) %>
  <%= link_to '消去',schedule_path(@schedule.id), method: :delete, data: { confirm: '本当に削除しますか？' } %>

