<% breadcrumb :schedules_show %>

<p id="notice"><%= notice %></p>

<div class="show">
  <p>
    <strong>タイトル</strong>
    <%= @schedule.title %>
  </p>

    <p>
    <strong>投稿者</strong>
    <%= @schedule.user.name %>
  </p>

  <p>
    <strong>内容</strong>
    <%= @schedule.content %>
  </p>

  <p>
    <strong>開始日時</strong>
    <td><%= l @schedule.start_time %></td>
  </p>
  <p>
    <strong>終了日時</strong>
    <td><%= l @schedule.end_time %></td>
  </p>

  <div class="address" >
    <strong>住所</strong>
      <p>
        <%= @schedule.zip_code %>
      </p>

    <p>
      <%= @schedule.prefecture %>
      <%= @schedule.city %>
      <%= @schedule.town %>
      <%= @schedule.building_name %>
    </p>
  </div>



  <% if user_signed_in? && current_user.id == @schedule.user_id %>
    <%= link_to '編集', edit_schedule_path(@schedule.id) %>
    <%= link_to '消去',schedule_path(@schedule.id), method: :delete, data: { confirm: '本当に削除しますか？' } %>
  <% end %>

  <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@schedule, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.name, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.text %>
          <%=link_to "削除", schedule_comment_path(comment.schedule.id, comment.id), method: :delete %>
        </p>
      <% end %>
    </div>
  </div>

</div>

<%= link_to "戻る", :back %>
